.food-container {
    padding: var(--padding-default, 1em);

    @include responsive( desktop ) {
        font-size: 16px;
    }

    @include responsive(tablet-large) {
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 2px 3px 5px rgba(0, 0, 0, .5);
        border-radius: 0.3em;
        opacity: 0.5;
        transition: opacity, border-radius 0.5s ease;

        &:hover {
            opacity: 1;
            border-radius: 3em;
        }
    }
    
    .description {
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        h1 {
            border-bottom: var(--border-width-default) solid #000;
        }
    }

    .boast-media {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

        .summer-p {
            grid-row: 1;
            grid-column: 1;
            align-self: center;
            justify-self: center;
            margin: 0;
        }

        .children-p {
            grid-row: 1;
            grid-column: 2;
            align-self: center;
            justify-self: center;
            margin: 0;
        }

        .summer-garden {
            grid-column: 1;
            grid-row: 2;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        .children-attraction {
            grid-column: 2;
            grid-row: 2;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        @include responsive( tablet-large ) {
            grid-template-columns: 1fr;
            grid-template-rows: 80px 0.5fr 80px 0.5fr;
            margin-bottom: 0.5em;
            
            img {
                opacity: 1;
            }

            .summer-p {
                justify-self: center;
            }

            .summer-garden {
                grid-row: 2;
                grid-column: 1;
                border-radius: 0.3em;
            }

            .children-p {
                grid-row: 3;
                grid-column: 1;
            }

            .children-attraction {
                grid-row: 4;
                grid-column: 1;
                border-radius: 0.3em;
            }
        } 
    }

    .food {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-gap: 20px;
        text-align: center;

        .banitsa {
            grid-row: 1;
            grid-column: 1;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        .food-info {
            grid-column: 2;
            grid-row: 1;
        }

        .klin {
            grid-column: 3;
            grid-row: 1;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        .pizza {
            grid-row: 2;
            grid-column: 1;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        .details {
            grid-row: 2;
            grid-column: 2;
        }

        .vitrina {
            grid-row: 2;
            grid-column: 3;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        .last-message {
            grid-row: 3;
            grid-column: 1 / 4;
            align-content: center;
            
            .ps {
                max-width: 60%;
            }

            .dessert-cart {
                font-style: italic;
            }
        }

        .bistro-second {
            grid-row: 4;
            grid-column: 1 / 4;
            align-self: start;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        @include responsive( hybrid ) {
            grid-template-columns: 1fr;
            grid-template-rows: 100px repeat(2, 0.5fr) 100px repeat(2, 0.5fr) 100px repeat(2, 0.5fr);

            .food-info {
                grid-column: 1;
                grid-row: 1;
            }

            .banitsa {
                grid-column: 1;
                grid-row: 2;
                border-radius: 0.3em;
            }

            .klin {
                grid-column: 1;
                grid-row: 3;
                border-radius: 0.3em;
            }

            .details {
                grid-column: 1;
                grid-row: 4;
            }

            .pizza {
                grid-column: 1;
                grid-row: 5;
                border-radius: 0.3em;
            }

            .vitrina {
                grid-column: 1;
                grid-row: 6;
                border-radius: 0.3em;
            }

            .last-message {
                grid-column: 1;
                grid-row: 7;
                
                i {
                    display: block;
                }
            }

            .bistro-second {
                grid-row: 8 / 9;
                grid-column: 1;
            }
        }

        @include responsive( tablet-large ) {
            grid-template-rows: repeat(6, 0.5fr) 100px repeat(2, 0.5fr);

            img {
                opacity: 1;
            }

            .food-info {
                align-self: center;
            }

            .details {
                align-self: center;
            }
        }

        @include responsive( phone-large ) {
            grid-template-rows: repeat(6, 0.5fr) 160px repeat(2, 0.5fr);

            .last-message {
                margin-top: 1em;
                align-self: center;
            }
        }
    }
}

.site-footer {
    background-color: #fff;
}