:root {
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;

    --body-bgrd-default: #EEE;

    --color-btn-default: #9A6808;
    --text-color-btn-default: #fff;
    --color-btn-hover: #fff;
    --text-color-btn-hover: #9A6808;

    --navigation-hover-bgrd: #69b83f;
    --navigation-hover-text-color: #fff;

    --services-span-text-color: #fff;
    --services-span-bgrd: #69b83f;

    --about-text-bgrd: #9A6808;
    --about-text-color: #fff;

    --attraction-container-bgrd: #69b83f;
    --attraction-container-color: #fff;

    --job-page-bgrd: #69b83f;
    --job-page-text-color: #fff;

    --laundarette-page-bgrd: #9A6808;
    --laundarette-page-text-color: #fff;

    --input-fields-bgrd: #CCC;

    --button-to-top-bgrd: #69b83f;

    --padding-default: 1em;

    --border-width-default: 2px;
    --border-radius-default: 0.3em;

    --footer-text-color: #9A6808;
    --footer-nav-hover-color: #fff;
    --footer-nav-hover-bgrd: #9A6808;
}